<div class="top-header">
<app-header></app-header>
</div>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="side-menu">
          <div class="side-menu-btn text-right">
          <p-button label="Add new Subject" class="btn btn-sm btn-addNew" (click)="addNew()"></p-button>
          </div>
          <app-side-menu></app-side-menu>
          </div>
          <div class="side-menu-content">
            <router-outlet></router-outlet>
        </div>
      </div>

    </div>

</div>
