<div class="main-content mr-4">
  <div class="content-box">
    <div class="row">
      <div class="col-md-8">
        <div class="mt-1">
          <h4 class="heading1">Class 10 Physics</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-right">
          <p-button class="btn btn-sm btn-addNew" label="Add new Question" (click)="addNew()"></p-button>
          </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <div class="card">
          <form>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                    <mat-select placeholder="Chapter">
                      <mat-option>
                        </mat-option>
                      </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                      <mat-select placeholder="Module">
                        <mat-option>
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Topic">
                          <mat-option>
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field>
                          <mat-select placeholder="Category">
                            <mat-option>
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Type">
                              <mat-option>
                                </mat-option>
                              </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-12 text-right">
                          <p-button label="Reset" class="btn btn-sm btn-reset mr-1"></p-button>
                          <p-button label="Search" class="btn btn-sm btn-search mr-1"></p-button>
                          </div>
            </div>
            </form>
          </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <p-table styleClass="p-datatable-striped" [scrollable]="true" [style]="{width: '100%'}" [value]="questionList">
          <ng-template pTemplate="caption">
            <div class="row">
              <div class="col-md-12">
                <h2 class="heading1 mr-3 mb-0">List of Questions</h2>
                </div>
              </div>
          </ng-template>
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col width="60px">
              <col width="200px">
              <col width="100px">
              <col width="100px">
              <col width="100px">
              <col width="100px">
              <col width="100px">
              <col width="100px">
              </colgroup>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>S.No.</th>
              <th>Question</th>
              <th>Chapter</th>
              <th>Module</th>
              <th>Topic</th>
              <th>Category</th>
              <th>Type</th>
              <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ques let-i="rowIndex">
              <tr>
                <td>{{i+1}}</td>
                <td>{{ques.question}}</td>
                <td>{{ques.chapter}}</td>
                <td>{{ques.module}}</td>
                <td>{{ques.topic}}</td>
                <td>{{ques.category}}</td>
                <td>{{ques.type}}</td>
                <td><i class="pi pi-user-edit mr-2" (click)="editQues(ques)"></i><i class="pi pi-trash mr-2" (click)="deleteQues(ques)"></i><i class="pi pi-copy" [cdkCopyToClipboard]="ques.question"></i></td>
              </tr>
              </ng-template>
          </p-table>
        </div>
      </div>
  </div>
</div>
